## Nueva Columna

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Llamamos al proceso anterior
betdataset=pd.read_parquet('../data/processed/preprocesamiento_betdataset.parquet')

In [ ]:
#Primera manera de agregar la columna result
#betdataset['Result'] = np.where(betdataset['Profit'] > 0, 1, 0)
#betdataset

In [3]:
#Segunda manera de agregar la columna result
betdataset['Result']=betdataset['Profit'].apply(lambda x: 1 if x>0 else 0)

In [4]:
#se realiza el conteo de las dos salidas
betdataset['Result'].value_counts()

Result
1    28685
0    21315
Name: count, dtype: int64

## Borrar columnas

In [5]:
betdataset

,Id,GameID,Username,Bet,CashedOut,Bonus,Profit,BustedAt,PlayDate,Result
0,14196549,3366002,papai,5,1.20,0.000,1.00,8.24,2016-11-20 19:44:19+00:00,1
1,10676217,3343882,znay22,3,0.00,0.000,-3.00,1.40,2016-11-14 14:21:50+00:00,0
2,15577107,3374646,rrrrrrrr,4,1.33,0.030,1.44,3.15,2016-11-23 06:39:15+00:00,1
3,25732127,3429241,sanya1206,10,0.00,0.000,-10.00,1.63,2016-12-08 18:13:55+00:00,0
4,17995432,3389174,ADM,50,1.50,0.014,25.70,2.29,2016-11-27 08:14:48+00:00,1
...,...,...,...,...,...,...,...,...,...,...
49995,21345100,3406167,ElenaV,4,0.00,0.000,-4.00,4.80,2016-12-02 05:00:57+00:00,0
49996,1461408,3302415,Sandboxx,3000,1.04,0.000,120.00,5.03,2016-11-02 19:01:58+00:00,1
49997,19704592,3398419,Ferreck,1,0.00,0.000,-1.00,1.06,2016-11-29 23:48:11+00:00,0
49998,20075463,3400278,ugneri,68,1.33,0.000,22.44,19.00,2016-11-30 12:29:56+00:00,1
49999,14739654,3369631,ALIEN_SULACO,300,1.30,0.000,90.00,2.38,2016-11-21 20:20:47+00:00,1

In [6]:
betdataset=betdataset.drop(columns=['Id', 'GameID'], axis=1)
betdataset

,Username,Bet,CashedOut,Bonus,Profit,BustedAt,PlayDate,Result
0,papai,5,1.20,0.000,1.00,8.24,2016-11-20 19:44:19+00:00,1
1,znay22,3,0.00,0.000,-3.00,1.40,2016-11-14 14:21:50+00:00,0
2,rrrrrrrr,4,1.33,0.030,1.44,3.15,2016-11-23 06:39:15+00:00,1
3,sanya1206,10,0.00,0.000,-10.00,1.63,2016-12-08 18:13:55+00:00,0
4,ADM,50,1.50,0.014,25.70,2.29,2016-11-27 08:14:48+00:00,1
...,...,...,...,...,...,...,...,...
49995,ElenaV,4,0.00,0.000,-4.00,4.80,2016-12-02 05:00:57+00:00,0
49996,Sandboxx,3000,1.04,0.000,120.00,5.03,2016-11-02 19:01:58+00:00,1
49997,Ferreck,1,0.00,0.000,-1.00,1.06,2016-11-29 23:48:11+00:00,0
49998,ugneri,68,1.33,0.000,22.44,19.00,2016-11-30 12:29:56+00:00,1
49999,ALIEN_SULACO,300,1.30,0.000,90.00,2.38,2016-11-21 20:20:47+00:00,1

In [8]:
betdataset

,Username,Bet,CashedOut,Bonus,Profit,BustedAt,PlayDate,Result
0,papai,5,1.20,0.000,1.00,8.24,2016-11-20 19:44:19+00:00,1
1,znay22,3,0.00,0.000,-3.00,1.40,2016-11-14 14:21:50+00:00,0
2,rrrrrrrr,4,1.33,0.030,1.44,3.15,2016-11-23 06:39:15+00:00,1
3,sanya1206,10,0.00,0.000,-10.00,1.63,2016-12-08 18:13:55+00:00,0
4,ADM,50,1.50,0.014,25.70,2.29,2016-11-27 08:14:48+00:00,1
...,...,...,...,...,...,...,...,...
49995,ElenaV,4,0.00,0.000,-4.00,4.80,2016-12-02 05:00:57+00:00,0
49996,Sandboxx,3000,1.04,0.000,120.00,5.03,2016-11-02 19:01:58+00:00,1
49997,Ferreck,1,0.00,0.000,-1.00,1.06,2016-11-29 23:48:11+00:00,0
49998,ugneri,68,1.33,0.000,22.44,19.00,2016-11-30 12:29:56+00:00,1
49999,ALIEN_SULACO,300,1.30,0.000,90.00,2.38,2016-11-21 20:20:47+00:00,1

In [7]:
#Se guardan los resultados
betdataset.to_parquet('../data/processed/nuevacolumna_betdataset.parquet')