In [1]:
import pandas as pd
from datetime import datetime, time
import numpy as np

In [2]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [3]:
from cambio_formato_fecha import DateFormat

In [4]:
betdataset = pd.read_csv('../data/raw/bustabit.csv')

In [5]:
betdataset

,Id,GameID,Username,Bet,CashedOut,Bonus,Profit,BustedAt,PlayDate
0,14196549,3366002,papai,5,1.20,0.0,1.00,8.24,2016-11-20T19:44:19Z
1,10676217,3343882,znay22,3,NaN,NaN,NaN,1.40,2016-11-14T14:21:50Z
2,15577107,3374646,rrrrrrrr,4,1.33,3.0,1.44,3.15,2016-11-23T06:39:15Z
3,25732127,3429241,sanya1206,10,NaN,NaN,NaN,1.63,2016-12-08T18:13:55Z
4,17995432,3389174,ADM,50,1.50,1.4,25.70,2.29,2016-11-27T08:14:48Z
...,...,...,...,...,...,...,...,...,...
49995,21345100,3406167,ElenaV,4,NaN,NaN,NaN,4.80,2016-12-02T05:00:57Z
49996,1461408,3302415,Sandboxx,3000,1.04,0.0,120.00,5.03,2016-11-02T19:01:58Z
49997,19704592,3398419,Ferreck,1,NaN,NaN,NaN,1.06,2016-11-29T23:48:11Z
49998,20075463,3400278,ugneri,68,1.33,0.0,22.44,19.00,2016-11-30T12:29:56Z
49999,14739654,3369631,ALIEN_SULACO,300,1.30,0.0,90.00,2.38,2016-11-21T20:20:47Z

In [6]:
data=DateFormat('PlayDate', betdataset, 'Bonus', 'Profit', 'Bet', 'CashedOut', 'Result', 'Id', 'GameID')

In [7]:
betdataset=data.ejec_dateformat()

c:\Users\andre\Bustabit\scripts\cambio_formato_fecha.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.dataframe[self.prof_columna].fillna(-self.dataframe[self.bet_columna], inplace=True)
c:\Users\andre\Bustabit\scripts\cambio_formato_fecha.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.dataframe[self.porc_columna].fillna(0, inplace=True)
c:\Users\andre\Bustabit\scripts\cambio_formato_fecha.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.dataframe[self.co_columna].fillna(0, inplace=True)

In [8]:
betdataset

,Username,Bet,CashedOut,Bonus,Profit,BustedAt,PlayDate,Result
0,papai,5,1.20,0.000,1.00,8.24,2016-11-20 19:44:19+00:00,1
1,znay22,3,0.00,0.000,-3.00,1.40,2016-11-14 14:21:50+00:00,0
2,rrrrrrrr,4,1.33,0.030,1.44,3.15,2016-11-23 06:39:15+00:00,1
3,sanya1206,10,0.00,0.000,-10.00,1.63,2016-12-08 18:13:55+00:00,0
4,ADM,50,1.50,0.014,25.70,2.29,2016-11-27 08:14:48+00:00,1
...,...,...,...,...,...,...,...,...
49995,ElenaV,4,0.00,0.000,-4.00,4.80,2016-12-02 05:00:57+00:00,0
49996,Sandboxx,3000,1.04,0.000,120.00,5.03,2016-11-02 19:01:58+00:00,1
49997,Ferreck,1,0.00,0.000,-1.00,1.06,2016-11-29 23:48:11+00:00,0
49998,ugneri,68,1.33,0.000,22.44,19.00,2016-11-30 12:29:56+00:00,1
49999,ALIEN_SULACO,300,1.30,0.000,90.00,2.38,2016-11-21 20:20:47+00:00,1

In [9]:
from cambio_formato_fecha import GroupbyCostumers

In [10]:
data2=GroupbyCostumers(betdataset, 'PlayDate', 'Username',  'Bet', 'CashedOut', 'Bonus','Profit', 'BustedAt', 'Result')

In [11]:
betdataset=data2.ejec_GroupByCustomer()

In [12]:
betdataset

           Bet  CashedOut     Bonus    Profit  BustedAt    Result
0     0.000014   0.032415  0.155834  0.315247  0.000619  0.009132
1     0.000305   0.024913  0.092645  0.315062  0.001044  0.009132
2     0.000046   0.045734  0.000000  0.315241  0.012657  0.013699
3     0.000468   0.044260  0.130006  0.314577  0.000934  0.191781
4     0.001488   0.047081  0.253136  0.314927  0.000586  0.018265
...        ...        ...       ...       ...       ...       ...
4144  0.000725   0.000000  0.000000  0.315141  0.000563  0.000000
4145  0.000146   0.068841  0.646522  0.315272  0.001405  0.009132
4146  0.000036   0.048413  0.082636  0.315192  0.002411  0.214612
4147  0.005670   0.009442  0.018833  0.297175  0.001283  0.009132
4148  0.003060   0.113612  0.033827  0.345917  0.002557  0.004566

[4149 rows x 6 columns]

In [13]:
clustertest=pd.read_parquet('../data/processed/analisis_exploratorio4.parquet')

In [14]:
from cambio_formato_fecha import Clustering

In [16]:
data3=Clustering(betdataset, 'Cluster', clustertest)

In [17]:
betdataset=data3.ejec_Clustering()

In [18]:
betdataset

,Usercode,Bet,CashedOut,Bonus,Profit,BustedAt,Result,Cluster
0,----------------,10.333333,0.673333,0.013667,-7.30,1.790000,2,3
1,--dilib--,210.750000,0.517500,0.008125,-867.63,3.020000,2,3
2,-31337-,32.500000,0.950000,0.000000,-33.50,36.630000,3,1
3,-Nothing-,322.876923,0.919385,0.011402,-3120.69,2.702615,42,2
4,-Tachyon,1024.800000,0.978000,0.022200,-1494.32,1.696000,4,0
...,...,...,...,...,...,...,...,...
4144,zuko,500.000000,0.000000,0.000000,-500.00,1.630000,0,1
4145,zum,101.500000,1.430000,0.056700,108.64,4.065000,2,0
4146,zviadits,25.509434,1.005660,0.007247,-260.56,6.976226,47,2
4147,zzanggu,3902.161290,0.196129,0.001652,-84003.04,3.712581,2,1
4148,zzanggubank,2106.444444,2.360000,0.002967,142541.43,7.400000,1,1