In [1]:
import pandas as pd
from datetime import datetime, time

In [2]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [3]:
from cambio_formato_fecha import DateFormat

In [3]:

from free import DataFrameModifier

In [4]:
betdataset = pd.read_csv('../data/raw/bustabit.csv')

In [5]:
betdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         50000 non-null  int64
 1   GameID     50000 non-null  int64
 2   Username   50000 non-null  object
 3   Bet        50000 non-null  int64
 4   CashedOut  28734 non-null  float64
 5   Bonus      28734 non-null  float64
 6   Profit     28734 non-null  float64
 7   BustedAt   50000 non-null  float64
 8   PlayDate   50000 non-null  object
dtypes: float64(4), int64(3), object(2)
memory usage: 3.4+ MB

In [6]:
modifier = DataFrameModifier(betdataset, 'PlayDate')
modified_df = modifier.modify_dataframe()

In [7]:
modified_df

,Id,GameID,Username,Bet,CashedOut,Bonus,Profit,BustedAt,PlayDate,year,month
0,14196549,3366002,papai,5,1.20,0.0,1.00,8.24,2016-11-20 19:44:19+00:00,2016,11
1,10676217,3343882,znay22,3,NaN,NaN,NaN,1.40,2016-11-14 14:21:50+00:00,2016,11
2,15577107,3374646,rrrrrrrr,4,1.33,3.0,1.44,3.15,2016-11-23 06:39:15+00:00,2016,11
3,25732127,3429241,sanya1206,10,NaN,NaN,NaN,1.63,2016-12-08 18:13:55+00:00,2016,12
4,17995432,3389174,ADM,50,1.50,1.4,25.70,2.29,2016-11-27 08:14:48+00:00,2016,11
...,...,...,...,...,...,...,...,...,...,...,...
49995,21345100,3406167,ElenaV,4,NaN,NaN,NaN,4.80,2016-12-02 05:00:57+00:00,2016,12
49996,1461408,3302415,Sandboxx,3000,1.04,0.0,120.00,5.03,2016-11-02 19:01:58+00:00,2016,11
49997,19704592,3398419,Ferreck,1,NaN,NaN,NaN,1.06,2016-11-29 23:48:11+00:00,2016,11
49998,20075463,3400278,ugneri,68,1.33,0.0,22.44,19.00,2016-11-30 12:29:56+00:00,2016,11
49999,14739654,3369631,ALIEN_SULACO,300,1.30,0.0,90.00,2.38,2016-11-21 20:20:47+00:00,2016,11

In [8]:
data=DateFormat('PlayDate', betdataset)

In [9]:
data_df=data.fecha()

In [10]:
data_df

'PlayDate'

In [11]:
betdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         50000 non-null  int64
 1   GameID     50000 non-null  int64
 2   Username   50000 non-null  object
 3   Bet        50000 non-null  int64
 4   CashedOut  28734 non-null  float64
 5   Bonus      28734 non-null  float64
 6   Profit     28734 non-null  float64
 7   BustedAt   50000 non-null  float64
 8   PlayDate   50000 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(1)
memory usage: 3.4+ MB